.salary-employment {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.label-element {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
}
.salary-id {
  margin-right: 20px;
}
