.skill-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 80px;
  margin-bottom: 50px;
}

.skill-logo {
  margin-right: 20px;
}
.skill-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto';
}
@media (max-width: 576px) {
  .skill-card-container {
    margin-right: 5px;
    margin-bottom: 10px;
  }

  .skill-logo {
    margin-right: 20px;
    width: 40px;
  }
  .skill-name {
    font-size: 14px;
  }
}
