.type-employment {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.label-element {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #ffffff;
}
.checkBox {
  margin-right: 20px;
}
@media (max-width: 576px) {
  .label-element {
    font-size: 12px;
  }
  .checkBox {
    margin-right: 10px;
  }
}
